@model mdp.Models.ApplicationUser
@{
    ViewBag.Title = "MakeOrder";
}

<h2>Оформление заказа</h2>

@using (Html.BeginForm("ValidateOrder", "Cart", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0", role = "form" }))
{
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputName">Имя</label>
            <input type="text" class="form-control" id="inputName" placeholder="Ваше имя">
        </div>
        <div class="form-group col-md-4">
            <label for="inputSurname">Фамилия</label>
            <input type="text" class="form-control" id="inputSurname" placeholder="Ваша фамилия">
        </div>
        <div class="form-group col-md-4">
            <label for="inputPatronymic">Отчество</label>
            <input type="text" class="form-control" id="inputPatronymic" placeholder="Ваше отчетство">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail">Электронная почта</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Ваша электронная почта">
        </div>
        <div class="form-group col-md-8">
            <label for="inputNumber">Ваш телефон</label>
            <input type="tel" class="form-control" id="inputNumber" placeholder="Ваш телефон">
        </div>
    </div>
    <h4>Выберите способ доставки</h4>
    <div class="custom-control custom-radio">
        <input type="radio" id="delivCurier" name="customRadio" checked="checked" class="custom-control-input">
        <label class="custom-control-label" for="delivCurier">Курьерская доставка</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" id="delivSelf" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="delivSelf">Самовыавоз</label>
    </div>
    <div class="form-row" id="delivAddress">
        <div class="form-group col-md-12">
            <label for="inputAddress">Адрес доставки</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Ваш адрес">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Продолжить</button>
        </div>
    </div>
}


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#delivCurier").click(function () {
                $("#delivAddress").show();
            });
            $("#delivSelf").click(function () {
                $("#delivAddress").hide();
            });

            // setup values from the model
            var userObj = @Html.Raw(Json.Encode(Model));
            if (userObj != null) {
                document.getElementById("inputName").value = userObj.Name;
            }
        });
    </script>
}

