
@{
    ViewBag.Title = "Информация";
}

<h2>Полезная информация для покупателя.</h2>


<h4>Добро пожаловать в наш новый онлайн магазин!</h4>
<h4>В нашем магазине вы сможете приобрести:</h4>
<h4>Роботы, конструкторы, наборы, запчасти и комплектующие для самостоятельной сборки роботов, компоненты для робототехники, мехатроники, занимательная электроника и электроника для умного дома на базе микроконтроллеров Arduino (Ардуино) и Raspberry (Малина)</h4>
<h4>
    Здесь вы можете купить как готового робота, так и собрать самостоятельно из предложенных компонентов и запасных частей Pololu, DFRobot, Seeed Studio, Gekko, Feetech, Tamiya. Здесь Вы найдете все для робототехники: контроллеры -роботов, -двигателей, -серво; драйверы моторов; разные датчики и сенсоры; мотор-редукторы и сервоприводы; шасси и платформы; колеса и шаровые опоры; брекеты и крепежные элементы; и многое другое.

</h4>
<h4><b>Связь с нами:</b></h4>
<h4><b>Телефоны:</b></h4>
<h4><b>+79788972950</b> - телефон нашего магазина</h4>
<h4><b>+79385344830</b> - телефон доставки</h4>
<h4><b>Адрес нашего склада:</b></h4>
<h4>Россия, Республика Крым, город Керчь, улица Кирова, дом 165</h4>
<h4><b>Время работы:</b></h4>
<h4>С понедельника по пятницу с 8.00 до 18.00</h4>