<div class="row">
    <div class=" col-lg-2">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item active">
                Каталог товаров
            </a>
            <a href="#" class="list-group-item list-group-item-action">Наборы</a>
            <a href="#" class="list-group-item list-group-item-action">Контроллеры</a>
            <a href="#" class="list-group-item list-group-item-action">Модули, шилды</a>
            <a href="#" class="list-group-item list-group-item-action">Датчики, сенсоры</a>
            <a href="#" class="list-group-item list-group-item-action">Управление моторами</a>
            <a href="#" class="list-group-item list-group-item-action">Сервоконтроллеры</a>
            <a href="#" class="list-group-item list-group-item-action">Коммуникация</a>
            <a href="#" class="list-group-item list-group-item-action">Дисплеи</a>
            <a href="#" class="list-group-item list-group-item-action">Компоненты</a>
            <a href="#" class="list-group-item list-group-item-action">Пробразователи напряжения</a>
            <a href="#" class="list-group-item list-group-item-action">Источники питания</a>
            <a href="#" class="list-group-item list-group-item-action">Провода, кабели</a>
            <a href="#" class="list-group-item list-group-item-action">Электромоторы</a>
            <a href="#" class="list-group-item list-group-item-action">Сервоприводы</a>
            <a href="#" class="list-group-item list-group-item-action">Колеса</a>
            <a href="#" class="list-group-item list-group-item-action">Гусеницы</a>
            <a href="#" class="list-group-item list-group-item-action">Шаровые опоры</a>
            <a href="#" class="list-group-item list-group-item-action">Платформы</a>
            <a href="#" class="list-group-item list-group-item-action">Шасси</a>
            <a href="#" class="list-group-item list-group-item-action">Крепеж</a>
        </div>
    </div>
</div>