
@{
    ViewBag.Title = "Доставка";
}

<h2>Правила доставки нашего магазина.</h2>
<h4>Уважаемые покумпатели, в нашем магазине сущетсвует 3 способа доставки:</h4>

<h3><b>Самовывоз:</b></h3>
<p>Уважаемые покупатели, просим обратить ваше внимание на то, что самовывоз осуществляется только со склада, который расположен в городе Керчь.</p>
<p>Для того чтобы выбрать способ самовывоза, укажаите это при оформлении заказа в поле "Доставка"</p>
<p>Для того чтобы забрать ваш товар вам необходимо иметь с собой номер вашего заказа, документ подтверждающий вашу личность и зарестрированный на то имя которое вы указали в оформлении заказа.</p>
<h4>Время работы склада:</h4>
<p>9.00-19.00 с понедельника по пятницу</p>
<h4>Адресс:</h4>
<p>Россия, Республика Крым, город Керчь, улица кирова, дом 165</p>
<p>
    Самовывоз бесплатен, покупатель оплачивает только стоимость товара
</p>
<p>При желании забрать заказ из нашего офиса, рекомендуем Вам предварительно позвонить для уточнения наличия товара.</p>
<h3><b>Доставка курьером:</b></h3>
<p>Доставка курьером осуществляется только в будние дни с 10.00 до 18.00</p>
<p>Курьер доставит ваш заказ на тот адресс который вы указали при оформлении ( действует во всех районах города Керчь )</p>
<p>Для получение заказа курьеру необходимо прдъявить документ подтверждающий вашу личность и зарестрированный на то имя которое вы указали в оформлении заказа.</p>
<p>Оплата доставки входит в стоимость вашего заказа</p>
<h3><b>Доставка почтой России:</b></h3>
<p>Доставка почтой осуществляется в любой регион России</p>
<p>Отправка посылки "Первым классом". Получить посылку можно в ближайшем к Вашему дому почтовому отделению. Сроки доставки зависят целиком и полностью от работы службы «Почта России» и составляют в среднем 2 недели.</p>
<p><b> Оплата при получении (наложенный платеж)</b></p>
<p>Вы оплачиваете общую сумму при получении в отделении "Почты России".</p>
<p>В общую сумму оплаты включены:</p>
<p>- Стоимость заказанного товара в нашем магазине (фиксированная на момент оформления заказа!).</p>
<p>- Услуги "Почты России", которые рассчитываются по официальным тарифам, исходя из веса, отдаленности пункта назначения, страхового сбора и упаковочного материала.</p>
