<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>expiers-001-site1.gtempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://expiers-001-site1.gtempurl.com:8172/MsDeploy.axd?site=expiers-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>expiers-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>expiers-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5059.site4now.net,1433;Initial Catalog=DB_A627FA_mdp;User ID=DB_A627FA_mdp_admin;Password=Perumov02101985" Name="Data Source=SQL5059.site4now.net,1433;Initial Catalog=DB_A627FA_mdp;User Id=DB_A627FA_mdp_admin;Password=Perumov02101985;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="mdp.Models.PurchaseModel, mdp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>Data Source=SQL5059.site4now.net,1433;Initial Catalog=DB_A627FA_mdp;User Id=DB_A627FA_mdp_admin;Password=Perumov02101985;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ProductsModel-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;initial catalog=mdp.Models.ProductsModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="PurchaseModel-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
      <ParameterValue>data source=(LocalDb)\MSSQLLocalDB;initial catalog=mdp.Models.PurchaseModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>