
@{
    ViewBag.Title = "Новости";
}

<h2>Новости нашего магазина.</h2>
<h3>В данном разделе буду побликоваться новости нашего онлайн магазина. Не забывайте заходить и узнавать и новых поступлениях и новинках нашего интернет магазина.</h3>
